<!DOCTYPE html>
<html>
<body style="background:black;color:#00ffcc;text-align:center">

<h1>🔥 IMPERIO PRO 💀</h1>

👤 {{user}} <br>
💰 Dinero: {{money}}€ <br>
💸 Referidos: {{earn}} <br>
📊 Total: {{total}}

<hr>

<h2>💳 Apoyar / Comprar VIP</h2>

<a href="https://www.paypal.com/donate/?hosted_button_id=QSA278KTS7XMN" target="_blank">
<button style="padding:15px;background:#00ffcc;border:none">
💳 Pagar con PayPal
</button>
</a>

<hr>

<h2>💸 Sistema de afiliados</h2>

Tu link:<br>
<b>https://imperio-sqi4.onrender.com/?ref={{user}}</b>

<hr>

<a href="/logout">Salir</a>

</body>
</html>
