<!DOCTYPE html>
<html>
<body style="background:black;color:#00ffcc;text-align:center">

<h1>🔥 IMPERIO 💀</h1>

👤 {{user}}<br>
💰 Coins: {{coins}}<br>
🎯 Nivel: {{level}}<br>
XP: {{xp}} / {{need}}<br>

<hr>

<form action="/download" method="post">
<input name="url" placeholder="URL del video"><br><br>
<button>DESCARGAR</button>
</form>

<hr>

<h3>🎯 Misiones</h3>

{% for m in missions %}
<div>
{{m.text}} (+{{m.reward}})
{% if done[loop.index0] == 1 %}
✅
{% else %}
❌
{% endif %}
</div>
{% endfor %}

<hr>

<h3>⚙️ Admin</h3>

<form action="/give" method="post">
<input name="user" placeholder="usuario">
<input name="coins" placeholder="coins">
<button>Enviar</button>
</form>

<br>
<a href="/logout">Salir</a>

</body>
</html>
