<!DOCTYPE html>
<html>
<head>
<style>
body{background:#000;color:#00ffcc;font-family:Arial;text-align:center}
.box{border:1px solid #00ffcc;margin:20px;padding:20px;border-radius:10px}

button{padding:12px;background:#00ffcc;border:none;border-radius:5px}
input{padding:12px;width:70%}

.bar{
width:0%;
height:10px;
background:#00ffcc;
transition:0.4s;
}

.loader{
margin-top:10px;
display:none;
}
</style>

<script>
function start(){
    document.getElementById("loader").style.display="block"
    let bar=document.getElementById("bar")
    let w=0
    let i=setInterval(()=>{
        if(w>=100){clearInterval(i)}
        w+=10
        bar.style.width=w+"%"
    },300)
}
</script>

</head>

<body>

<h1>🔥 IMPERIO PRO 🔥</h1>

<div class="box">
👤 {{user}} <br>
📊 Descargas totales: {{total}} <br>
<a href="/logout">Salir</a>
</div>

<div class="box">
<form action="/download" method="post" onsubmit="start()">
<input name="url" placeholder="Pega URL">
<br><br>
<button>DESCARGAR</button>
</form>

<div id="loader" class="loader">
<div class="bar" id="bar"></div>
</div>

</div>

<div class="box">
💎 VIP<br><br>

1 día → 0.50€<br>
7 días → 2€<br>
1 mes → 2€<br>
12 meses → 10€<br>
∞ → 100€<br><br>

<a href="mailto:lobolobo9977@gmail.com">
<button>Comprar</button>
</a>
</div>

</body>
</html>
